<section class="hero">
  <div class="hero-content">
    <span class="hero-etiqueta">
      <span class="hero-etiqueta-ponto" aria-hidden="true">Tecnologia que potencializa o campo</span>
    </span>

    <h1 class="hero-title">
      O agro evolui.<br />
      Você produz melhor.
    </h1>
    <p class="hero-description">
      Máquinas Insumos e Tecnologias para transformar dados em produtividade -, do preparo da terra à
      gestão inteligente.
    </p>

    <div class="hero-actions">
      <a class="button-catalog" routerLink="/products">Explorar Catálogo </a>

      <button class="expert-button" type="button">Falar Com especialista</button>
    </div>
  </div>
</section>
