<section class="benefits" aria-label="benefits-agroagrega">
  <div class="benefits-list">
    <div class="benefits-item">
      <img class="benefits-icon" src="assets/images/entrega.webp" alt="" />

      <div class="benefits-text">
        <strong> Entrega em área rural</strong>
        <span> Para todo o Brasil</span>
      </div>
    </div>
    <div class="benefits-item">
      <img class="benefits-icon" src="assets/images/seguranca.webp" alt="" />

      <div class="benefits-text">
        <strong>Compra 100% segura</strong>
        <span> Seus dados protegidos</span>
      </div>
    </div>

    <div class="benefits-item">
      <img class="benefits-icon" src="assets/images/pagamento.webp" alt="" />

      <div class="benefits-text">
        <strong>Pagamento facilitado</strong>
        <span>Pix ou até 10x</span>
      </div>
    </div>
    <div class="benefits-item">
      <img class="benefits-icon" src="assets/images/suporte.webp" alt="" />

      <div class="benefits-text">
        <strong> Suporte especializado</strong> <span>Quem entende do agro</span>
      </div>
    </div>
  </div>
</section>
