:host{
    display: block;
    padding: 32´ 16px 0;
}
.benifits{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.benifits-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: var(--white);

    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 8px-24px rgba (0, 0, 0, 0.12);

    
}