<section class="benefits" aria-label="benefits-agroagrega">
  <div clas=" benefits-list">
    <div class="benefit-item">
      <img class="benefit-icon" src="assets/images/entrega.png" alt="" />

      <div class="benefit-text">
        <strong> Entrega em área rural</strong>
        <span> Para todo o Brasil</span>
      </div>
    </div>
    <div class="benefit-item">
      <img class="benefit-icon" src="assets/images/seguranca.png" alt="" />
    </div>

    <div class="benefit-text">
      <strong>Compra 100% segura</strong>
      <span> Seus dados protegidos</span>
    </div>
  </div>
  <div class="benefit-item">
    <img class="benefit-icon" src="assets/images/pagamento.png" alt="" />

    <div class="benefit-text">
      <strong>Pagamento facilitado</strong>
      <span>Pix ou até 10x</span>
    </div>
  </div>
  <div class="benefit-item">
    <img class="benefit-icon" src="assets/images/suporte.png" alt="" />

    <div class="benefit-text">
      <strong> Suporte especializado</strong> <span>Quem entende do agro</span>
    </div>
  </div>
</section>
