<section class="product-carousel">
  <div class="carousel-header">
    <div>
      <span class="carousel-label">SELEÇÃO AGROAGREGA</span>
      <h2>Produtos em destaque</h2>
    </div>

    <a routerLink="/products">Ver todos</a>
  </div>

  <div class="carousel-wrapper">
    @if (podeRolarEsquerda()) {
      <button
        class="carousel-button carousel-button-left"
        type="button"
        aria-label="Ver produtos anteriores"
        (click)="rolarEsquerda()"
      >
        ←
      </button>
    }
    <div class="products-list" #productsList (scroll)="atualizarSetas()">
      @for (produto of produtos; track produto.id) {
        <article class="product-card">
          <a [routerLink]="['/products', produto.id]">
            <div class="product-image">
              <img [src]="produto.images[0]" [alt]="produto.title" />
            </div>
          </a>
          <span class="product-category">
            {{ produto.category }}
          </span>

          <h3>{{ produto.title }}</h3>

          <strong class="product-price">
            {{ produto.price | precoFormatado }}
          </strong>

          <button
            class="add-cart-button"
            [class.product-added]="produtoAdicionadoId() === produto.id"
            type="button"
            (click)="adicionarAoCarrinho(produto)"
          >
            @if (produtoAdicionadoId() === produto.id) {
              Adicionado ✓
            } @else {
              Adicicionar ao Carrinho
            }
          </button>
        </article>
      }
    </div>

    @if (podeRolarDireita()) {
      <button
        class="carousel-button carousel-button-right"
        type="button"
        aria-label="Ver próximos produtos"
        (click)="rolarDireita()"
      >
        →
      </button>
    }
  </div>
</section>
