<main>
  <p>
    <a routerLink="/">Home</a> >
    <a class="destaque" routerLink="/cart">Carrinho</a>
  </p>
  <section>
    <div>
      <span>SUA COMPRA</span>

      <h2>Carrinho</h2>

      <p>
        {{ totalItens() }}
        @if (totalItens() === 1) {
          item reservado para você
        } @else {
          itens reservados para você
        }
      </p>
    </div>
    <a routerLink="/products">Continuar Comprando -></a>
  </section>

  <section>
    <p>Tem um cupom?</p>
    <input #couponInput type="text" placeholder="Digite seu cupom" />
    <button (click)="applyCoupon(couponInput.value)">Aplicar</button>
    <button (click)="removeCoupon()">Remover Cupom</button>
  </section>

  <button (click)="addProduct(item)">Adicionar Produto</button>
  <button (click)="clearCart()">Limpar Carrinho</button>

  @for (item of cartItems(); track item.product.id) {
    <div>
      <p>{{ item.product.category }}</p>
      <p>{{ item.product.title }}</p>
      <p>{{ item.product.price | precoFormatado }}</p>
      <p>{{ item.quantity }}</p>

      <button (click)="removeProduct(item.product)">Remover Produto</button>
    </div>
  }

  <div>
    <h3>Resumo do Pedido</h3>
    <p>Frete: R$0,00</p>
    <p>Descontos:</p>
    <p>Total: {{ totalValue() | precoFormatado }}</p>

    <button><a routerLink="/checkout">Ir para o checkout -> </a></button>
  </div>

  @if (isEmpty()) {
    <p>Seu carrinho está vazio</p>
  } @else {
    <p>Valor total: {{ totalValue() | precoFormatado }}</p>
  }
</main>
